site_name: Marta Drabczak-Kuriata - CV
site_description: Strona CV (MkDocs)

theme:
  name: material
  language: pl
  features:
    - navigation.instant
    - navigation.top
    - navigation.footer
  palette:
    - scheme: default
      primary: blue grey
      accent: amber
  font:
    text: "Merriweather"
    code: "Roboto Mono"

extra_css:
  - stylesheets/extra.css

nav:
  - Start: index.md
  - CV: cv.md
  - Kontakt: contact.md

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - toc:
      permalink: true

plugins:
  - search
